{% extends 'base.html' %}
{%load bootstrap3%}

{%block content%}
<div  class="container ">
  <br><br><br>
  <div class="row">
    <div class="col-sm-6 offset-sm-6 two">
      <div class="">
        {%for image in images%}
        <div class="card">
          <div class="card-header">
            <span>{{image.user}}</span>
          </div>
          <div class="card-">
            <div class="">
              <a href="/image/comment/{{image.id}}">
              <img class="img-fluid" src="{{image.image.url}}" alt="" width="100%" height="100"></a>
            </div>

          </div>
          <div class="card-footer">
              <div>
                  <p>{{image.description}}</p>
                  <form class="form-inline" action="/image/comment/{{image.id}}/" method="post">
                    {%csrf_token%}
                    {%bootstrap_form forms%}
    
                    <input type="hidden" name="like" value="1">
                    <button style= "background:none;border:none;" type="submit" name="button"><i   class="far  fa-heart" style="color: black;width:30px;height:30px;"><i> {{image.likes}}</i></i></button>
                    <button style= "background:none;border:none;"  ><a href="/image/comment/{{image.id}}"><i class="far fa-comment" style="color: black;width:30px;height:30px;"></i></a></button>
                    
                  </form>
              </div>
            <div>
              <i>{{image.post_date}} </i>
            </div>
            <form class="form-group" action="/image/comment/{{image.id}}/" name='{{image.id}}' method="post">
              {%csrf_token%}
              {%bootstrap_form form%}
              <input type="hidden" name="id" value="{{ image.id }}">
              <div>
                <button id='post' class="btn btn-elegant"  type="submit" name="button">Post</button>
              </div>
    
            </form>
            <a href="{% url 'home' %}" style="float:right;" class="btn btn-elegant" >Back</a>
          </div>
        </div>
        <br><br>
        {%endfor%}

      </div>



    </div>
    <div class="col-sm-6 col-2 fixed-top one " style="border-radius: 36px;margin-top:20%;background-color: gray;border:3px dashed black;">
      <div>
          <p style="text-align: center;">All comments</p>
          {%if comments%}
          {%for all in comments%}
          <span id="span"><strong>{{all.user}}  </strong></span><span class="font"> {{all.comment}}  </span><br><br>
          {%endfor%}
          {%endif%}
            <br>
      </div>
    </div>


    </div>

  </div>
  <br><br><br>


</div>
{%endblock%}