{% extends 'base.html' %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-6 two">
       {% for image in images %}
        <div class="card">
            <div class="card-header">
              <span>{{image.user}}</span>
            </div>
            <div class="card-">
              <div class="">
                <a href="/image/comment/{{image.id}}">
                <img class="img-fluid" src="{{image.image.url}}" alt="" style="max-width: 100%;"></a>
                <br>
                <br>
                <a href="/image/comment/{{image.id}}"><i class="far fa-heart" style="padding-left:10px;color: black;width:40px;height:40px;"></i><i class="fa fa-comment" aria-hidden="true" style="color: black;width:30px;height:40px;"></i><i class="fa fa-share" style="color: black;width:30px;height:40px;"aria-hidden="true"></i></a>
                <div style="float:right;padding-right:15px;">
                  <i>{{image.likes}} likes</i>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <div>
                  <p><strong>{{image.user}}</strong> {{image.description}}</p>
                    
                </div>
              <div>
                <i style="float:right;">{{image.post_date}} </i>
                </div>
            </div>



          </div>
          <br><br>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-2 fixed-top one" style="border-radius: 36px;margin-top:20%;background-color: none;border:none;">
      <div class="card">
        <br>
         <h3 style="text-align: center;">Suggestions for you</h3>
         <br>
         {%for all in users%}
         <span style="margin-left:10%;margin-right:10%;border-radius:34px;padding:9px;background-color:black;color:white;">{{all.username}}  <a style="color: #7da2a9;float:right;" href="/profile/user/{{all.id}}"><strong>View profile</strong></a></span>
         <hr>
         {%endfor%}
         </div>
    </div>
    
  </div>
</div>
{% endblock %}