{% extends 'base.html' %}

{% block styles %}
{{block.super}}
{% load static%}
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{%block content%}
<header>

		<div class="container">
	
			<div class="profile">
	
				<div class="profile-image">
						{% if pic %}
						{%for i in pic%}
						<img  style="border:4px solid #7da2a9;width:10%;height: 10%;border-radius:60px;" class="img-fluid rounded-circle" src="{{i.pic.url}}" alt="profile">
						<div class="profile-bio" style="float:right;">
							<h3>Bio</h3>
							<p> ->   {{i.bio}}</p>
			
						</div>		
	
					
	
				</div>
	
				<div class="profile-user-settings">
	
					<h1 class="profile-user-name">{{user}}</h1>
	
					<a href="{%url 'edit'%}"><button style="color:black;background-color:#7da2a9"class="btn profile-edit-btn">Edit Profile</button></a>
	
				</div>
				{%endfor%}
				{%else%}
				<div class="alert">
				<p class="animated fadeIn alert alert-info">Update profile first <br>
				<a href="{%url 'edit'%}"><button class="btn profile-edit-btn">Edit Profile</button></a>
				</p>
				
        		</div>
        		{%endif%}
			</div>
			<br>
			<br>
			<!-- End of profile section -->
	
		</div>
		<!-- End of container -->
	
	</header>
	
	<main>
	
		<div class="container">
	
			<div class="photos">
					{% if profile %}
					{%for photo in profile%}
				<div class="photo21" tabindex="0">

					<img style="width:100%;height:100%;" src="{{photo.image.url}}" class="gallery-image" alt="">
	
					<div class="likes">
						<span class="view"><i class="fas fa-heart" aria-hidden="true"></i>{{photo.likes}}</span>
					</div>
	
				</div>
				{% endfor %}
				{%else%}
        		<div class="alert">
          			<p class="animated fadeIn alert alert-info">Upload photos <br>
        			</p>
        		</div>
        {%endif%}
			</div>
			<br>
			<br>
			<br>
		</div>
	
	</main>
{%endblock%}