{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br>
  <br>
  <div class="result">
    {% if images %}
      <h2 class="result-message">Found {{images|length }} image(s) related to {{message}}</h2>
    {% else %}
      <h2 class="result-message"> Found no images related to {{message}}</h2>
    {% endif %}
    <hr>
    <br>
    <div class="photos">
      {% for image in images%}
       <div class= "photo">
         <h2 class="head">{{image.user}}</h2>
         <a href="/image/comment/{{image.id}}"><img style="width:60%;height:50%;" src="{{image.image.url}}"></a>
         <hr>
         <p class="bodies">{{image.likes}} likes</p>
         <p class= "others">Posted on {{image.post_date}}</p>
         <a class="view" href='/image/comment/{{image.id}}'>Details</a>
         <a href="{% url 'home' %}" class="view2"><span class='owner'> Back</span></a>
       </div>
      {% endfor %}
    </div>
    <br>
    <br>
    <br>
  </div>
</div>

{% endblock %}

<!--alternative-->

