{% extends 'base.html' %}
{% block content %}
<div class="container">

  <div class="row heading">
    {% if images %}
      <h2>Found {{images|length }} image(s) of searched term {{message}}</h2>
    {% else %}
      <h2> Found image(s) of searched term {{message}}</h2>
    {% endif %}
    <div class="col-md-7">
            {% for image in images %}
             <div class="card">
                 <div class="card-header">
                  <img height="35px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="avatar">
                   <span>{{image.user}}</span>
                 </div>
                 <div class="card-">
                   <div class="">
                     <a href="/image/comment/{{image.id}}">
                     <img class="img-fluid" src="{{image.image.url}}" alt=""></a>
                   </div>
     
                 </div>
                 <div class="card-footer">
                     <div>
                         <i class="far fa-heart"></i>
                         <a href="/image/comment/{{image.id}}"><i class="far fa-comment"></i></a>
                         <i class="fas fa-share-alt-square"></i>
                     </div>
                   <div>
                     <i>{{image.likes}} likes</i>
                   </div>
                   <div>
                     <i>{{image.post_date}} </i>
                     </div>
                 </div>
     
     
     
               </div>
               <br><br>
             {% endfor %}
         </div>
  </div>

</div>
{% endblock %}