{% extends 'base.html' %}
{%load bootstrap3%}
{%block content%}
<header>

		<div class="container">
	
			<div class="profile">
						{%for i in pic%}
						<img style="border:4px solid #7da2a9;width:10%;height: 10%;border-radius:60px;"src="{{i.pic.url}}" alt="profile">
            {%endfor%}
            <div class="profile-bio" style="float:right;">
              <h1>Bio</h1>
                {%for i in pic%}
                <p><span class="profile-real-name"></span> {{i.bio}}</p>
                {%endfor%}
      
            </div>
        
				<div class="profile-user-settings">
            {%for user in users%}
            <h1 class="profile-user-name">{{user.username}}</h1>
            <form id="follow" class="form-group" action="/profile/user/{{user.id}}/" method="post">
              {%csrf_token%}
              {%bootstrap_form form%}
              <input type="hidden" name="current" value="{{user.id}}">
              <button style="background-color:#7da2a9 ;" type="submit" class="btn profile-edit-btn">{{following}}</button><span id="close"></span>

            </form>
            {%endfor%}
					
	
	
        </div>
        
        <div class="profile-stats">
              <span class="profile-stat-count">{{posts}}</span><br>posts<br><hr>
              <span class="profile-stat-count">{{all}}</span><br> followers<hr>
                
          </div>
		
				
			</div>
			<!-- End of profile section -->
	
		</div>
		<!-- End of container -->
	
  </header>
  
  <main>
	
      <div class="container">
        <h3 style="text-align: center;">Posts</h3>
        <br>
        <div class="photos">
            {%if profile%}
            {%for photo in profile%}
          <div class="photo21" tabindex="0">
    
            <img style="width:100%;height:100%;"  src="{{photo.image.url}}" class="gallery-image" alt="">
    
            <div class="likes">
              <br>
              <span class="view"><i style="width:20px;height:20px" class="fas fa-heart" aria-hidden="true"></i>{{photo.likes}}</span>
            </div>
    
          </div>
          {% endfor %}
          {%else%}
        <div class="alert">
          <p class="animated fadeIn alert alert-info">No photos yet <br>
        </p>

        </div>
        {%endif%}
        </div>
        <br>
        <br>
        <br>
      </div>
    
    </main>
{%endblock%}
